webpack.common.js
webpack.dev.js
webpack.prod.js
webpack.analyze.js
src/__tests__/dapi.test.ts
src/__tests__/helper_functions.test.ts
shared/cellLineSelector/components/CellLineListsDropdown.tsx
shared/cellLineSelector/components/CellLineSelector.tsx
shared/cellLineSelector/components/ListStorage.tsx
src/common/__tests__/DropdownButton.test.tsx
shared/common/components/Buttons.tsx
shared/common/components/CellLineSelectorUsage.tsx
src/common/components/DropdownButton.tsx
src/common/components/ErrorBoundary.tsx
src/common/components/Filter.tsx
src/common/components/FilterTilePlot.tsx
shared/common/components/HistoSlider.tsx
shared/common/components/Histogram.tsx
shared/common/components/LongTable.fixture.tsx
shared/common/components/LongTable.tsx
shared/common/components/LongTableCellLineSelector.tsx
src/common/components/LongTableWithColumnDropdown.fixture.tsx
src/common/components/LongTableWithColumnDropdown.tsx
src/common/components/LongTableWithCustomColumns.fixture.tsx
src/common/components/ProgressTracker.fixture.tsx
shared/common/components/ProgressTracker.tsx
src/common/components/SliderInput.tsx
shared/common/components/Spinner.tsx
shared/common/components/StackedBar.tsx
src/common/components/SyncedPlotAndTable.tsx
src/common/components/TilePlot.tsx
shared/common/components/Tooltip.tsx
src/common/components/ValidationTextbox.tsx
shared/common/components/WideTable.tsx
shared/common/models/longTable.ts
src/common/stories/DropdownButton.stories.tsx
src/common/stories/Filter.stories.tsx
src/common/stories/FilterTilePlot.stories.tsx
src/common/stories/LongTable.stories.tsx
src/common/stories/TilePlot.stories.tsx
src/common/stories/TilePlotCardHTML.tsx
shared/common/stories/Tooltip.stories.tsx
src/common/stories/ValidationTextbox.stories.tsx
shared/common/stories/WideTable.stories.tsx
src/common/utilities/context.ts
src/common/utilities/helper_functions.ts
shared/common/utilities/hooks.ts
shared/common/utilities/plotly.ts
shared/common/utilities/route.ts
src/common/utilities/url.ts
src/compound/components/DoseResponseCurve.tsx
src/compound/components/DoseResponsePlot.tsx
src/compound/components/DoseResponseTab.tsx
shared/cellLineSelector/__tests__/cellLineSelector.test.tsx
src/compute/components/CellLineSelector.fixture.ts
shared/compute/components/CustomAnalysisResult.tsx
shared/compute/components/CustomOrCatalogVectorSelect.tsx
shared/compute/components/DatasetSelect.tsx
shared/compute/components/FileUpload.tsx
shared/compute/components/TwoClassQuery.tsx
src/dataSlicer/components/DataSlicer.fixture.tsx
src/dataSlicer/components/DataSlicer.tsx
src/dataSlicer/components/DatasetPicker.tsx
src/dataSlicer/components/DownloadTracker.tsx
src/download/components/AllDownloads.tsx
src/download/components/CheckboxPanel.tsx
src/download/components/DownloadTable.tsx
src/download/components/OverviewCard.tsx
src/entity/components/EntitySummary.tsx
src/entity/components/SublineagePlot.tsx
shared/interactive/__tests__/controlledPlot.test.tsx
shared/interactive/__tests__/interactiveUtils.test.ts
shared/interactive/__tests__/vectorCatalog/createDownstreamDropdowns.test.tsx
shared/interactive/__tests__/vectorCatalog/createDropdownsUntilAndIncludingModified.test.tsx
shared/interactive/__tests__/vectorCatalog/nonterminalOnChange.test.tsx
shared/interactive/__tests__/vectorCatalog/terminalOnChange.test.tsx
shared/interactive/__tests__/vectorCatalog/updateDownstreamDropdowns.test.tsx
shared/interactive/components/Accordion.tsx
shared/interactive/components/AssociationTable.tsx
shared/interactive/components/ControlledPlot.tsx
shared/interactive/components/InteractivePage.tsx
shared/interactive/components/Modals.tsx
shared/interactive/components/PageLinkAccordion.tsx
shared/interactive/components/Plot.tsx
shared/interactive/components/StaticTable.tsx
shared/interactive/components/VectorCatalog.tsx
shared/interactive/components/VolcanoPlot.tsx
shared/interactive/models/interactive.ts
shared/interactive/models/vectorCatalogApi.ts
shared/interactive/utilities/interactiveUtils.ts
src/plot/components/NetworkPlot.tsx
src/plot/components/VolcanoPlot.stories.tsx
src/plot/components/VolcanoPlot.tsx
src/plot/models/volcanoPlotModels.ts
src/plot/plotlyWrapper/__tests__/plotlyWrapperUtils.test.tsx
src/plot/plotlyWrapper/__tests__/selectToLabelUtils.test.tsx
shared/plot/plotlyWrapper/components/DownloadIcon.tsx
shared/plot/plotlyWrapper/components/DragmodeIcon.tsx
shared/plot/plotlyWrapper/components/DragmodeWidget.tsx
shared/plot/plotlyWrapper/components/PlotlyWrapper.tsx
shared/plot/plotlyWrapper/components/SelectToLabel.tsx
src/plot/plotlyWrapper/stories/PlotlyWrapper.stories.tsx
shared/plot/plotlyWrapper/stories/plotlyWrapperData.ts
shared/plot/plotlyWrapper/utilities/downloadIconUtils.ts
shared/plot/plotlyWrapper/utilities/dragmodeWidgetUtils.ts
shared/plot/plotlyWrapper/utilities/plotlyWrapperUtils.ts
shared/plot/plotlyWrapper/utilities/selectToLabelUtils.ts
src/plot/stories/NetworkPlot.stories.tsx
src/plot/utilities/volcanoPlotUtils.ts
src/privateDataset/components/PrivateDatasetsPage.tsx
shared/userUpload/components/UserUploadModal.tsx
