.ConfigurationPanel {
  min-width: 406px;
  padding: 20px;
  padding-right: 0;
  margin-right: 5px;
  overflow: auto;

  & > div {
    width: 366px;
  }
}

.PlotConfiguration {
  margin-top: 20px;
}

.dimensions {
  display: flex;
  gap: 8px;
  margin-top: 14px;
}

.swapAxesButton {
  margin-left: 31px;
  width: 65px;
  height: 20px;
  padding: 0;
  color: #666;

  span {
    position: relative;
    top: -2px;
  }

  i {
    position: relative;
    top: 2px;
    margin-left: 5px;
  }
}

.PlotConfigSelect {
  display: inline-block;
}

.helpTip {
  position: relative;
  top: 3px;
}

.selectorLabel {
  text-align: start;
  font-size: 12px;

  label {
    margin-right: 12px;
  }

  &.inlineLabel {
    display: inline-block;
    font-size: 14px;
  }
}

.Select {
  display: inline-block;
  width: 162px;
  font-size: 12px;
}

.selectError > div {
  border: 1px solid #a94442;

  &:hover {
    border: 1px solid #a94442;
  }
}

.datasetSelector {
  margin-top: 10px;
}

.entitySelect {
  display: flex;
}

.swatch {
  display: inline-block;
  position: relative;
  top: 0;
  left: -10px;
  margin-right: 0;
  min-width: 10px;
  min-height: 38px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.swatch + .PlotConfigSelect {
  margin-left: -10px;

  .Select > div {
    border-radius: 0 4px 4px 0;
  }
}

.contextSelectorContainer {
  display: flex;
  flex-direction: column;
}

.contextSelector {
  display: flex;
}

.saveAsContextButton {
  max-width: 160px;
  margin: 10px 33px 0 0;
}

.aggregationSelector {
  margin-top: 10px;

  label {
    font-size: 12px;
  }

  .Select {
    width: 94px;
  }
}

.colorByContext {
  display: flex;
  gap: 8px;

  & > div:nth-child(2) {
    margin-left: 8px;

    .Select {
      width: 154px;
    }
  }
}

.sortByContainer {
  &:not(:empty) {
    margin-left: 170px;
    margin-top: -101px;
    margin-bottom: 38px;
  }
}

.customColorDimension {
  margin-left: 170px;
  margin-top: -63px;
}

.ShowPointsCheckbox {
  margin-top: 0;
  margin-bottom: 14px;
}

.ColorByViewOptions {
  margin-top: 14px;
}

.MultiPartEntitySelector {
  display: flex;
  flex-direction: column;
}

.distinguishOptions {
  label {
    margin-top: 10px;
  }
}

:global {
  #plot-config-tooltip {
    word-break: break-all;
  }
}
